
/* fuente para todo el documento*/
html{
  font-weight: 400;
  font-style: normal;
  background-color: #8ba1d9  !important; }

.estilos-en-linea {
  font-family:  "roboto",sans-serif !important;
  font-size: 30px !important;
  letter-spacing: 14px !important;
  line-height: 75px !important;
  background: #030508 !important;
  color: white !important;
  text-align: center !important;
  width: 50vw !important;
  height: 80px !important;
  margin-top: 600px !important;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  } 


footer{text-align: center;
font-size: 15px;}